@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 248 250 252; /* slate-50 */
    --card: 255 255 255; /* white */
    --text: 15 23 42; /* slate-900 */
    --muted: 100 116 139; /* slate-500 */

    /* Mint accent kiểu Google Sheets */
    --accent: 16 185 129; /* emerald-500 */
    --accent-soft: 209 250 229; /* emerald-100 */
  }

  html,
  body {
    height: 100%;
  }

  body {
    background: rgb(var(--bg));
    color: rgb(var(--text));
  }
}
